@import 'vazirmatn/Vazirmatn-font-face.css';
@import "tailwindcss";

@source "../index.html";
@source "./**/*.{vue,js,ts}";

@theme {
  --font-sans: "Vazirmatn", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}
